:root{
    --dark: #934f2c;
    --light: #d7bda6;
    --p1: #bd8f70;
}

html{
    font-size: 16px;
}

body{
    background-color: var(--p1);
    color: whitesmoke;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/* Creates a horizontal flex container */
.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* applies default margin and padding */
.dp{
    margin: 0.3rem 0.3rem;
    padding: 0.8rem 1rem;
}
